.map-mask {
  .map {
    &__select-country {
      margin-left: 50px;
      padding: 20px;
      background-color: linear-gradient(360deg, #FFFBFB -79.45%, #FDFDFD 105.35%);
      box-shadow: 0px 7px 95px rgba(0, 0, 0, 0.07);
    }
    &__container {
      padding: 0 30px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
    &__title {
      font-weight: 500;
      font-size: 48px;
      line-height: 58px;
      color: #035755;
      padding-right: 51px;
    }
    &__item-country {
      display: flex;
      font-weight: 500;
      font-size: 31px;
      line-height: 37px;
      color: #13615F;
    }
    &__title-wrap {
      display: flex;  
      margin-bottom: 54px;
    }
    &__item-country {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 40px;
      .country-icon {
        display: flex;
        picture {
          padding-right: 20px;
        }
      }
      .country-number {
        display: flex;
        picture {
          padding-left: 20px;
        }
      }
    }
  }
}